.section-header h2, .section-header h5,.review-orders{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background: linear-gradient(90deg,hsl(120, 100%, 15%), hsla(14, 85%, 57%, 1));
    color: transparent;
    background-clip: text;

}
.section-header h2{
    font-size: clamp(2rem, 4vw, 3rem);
}
.section-header h5{
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}

*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    max-width: 1280px;
    margin: 0;
}

.products-card{
    border-radius: 10px;
    margin-bottom: 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
   
}
.products-card h4{
    font-family: Arial, Helvetica, sans-serif;
    margin: 6px 0 6px 3px;
}
.products-card p{
    color: rgb(62, 60, 60);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin: 0 0 6px 3px;
}

.products, .cart-container section{
  
   width: 100%;
   background-color: hsl(120, 100%, 15%);
    max-width: 1280px;
    box-shadow: 3px 3px 6px hsla(0, 0%, 0%,0.2), -3px -3px 6px hsla(0, 0%, 0%,0.2);
    border-radius: 10px;
    padding: 5px;

    
}
.products-section,.cart-container{
    padding: 10px;
     position: relative;
    top: 70px;
}
 
@media(min-width : 600px) and (max-width: 900px){
    .products{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr;
        row-gap: 5px;
        column-gap: 5px;
    }
}

@media(min-width : 900px) and (max-width: 1280px){
    .products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row: 1fr 1fr 1fr 1fr;
        row-gap: 5px;
        column-gap: 5px;
    }
}



.photo{
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin-top: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.rating{
    width: 50%;
    height: 6%;
    object-fit: contain;
    display: block;
}
.products-card button{
    background-color: hsla(14, 85%, 57%, 1);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    transition: backgroung-color 2s;
    width: 80%;
    cursor: pointer;

}
.add-button-div{
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.products-card button:hover{
    background-color: hsla(14, 85%, 37%, 1);
}

.header-container{
    display: flex;
    width: 100%;
    flex: row;
    align-items: center;
    background-color: hsl(120, 100%, 15%);
    position: fixed;
    z-index: 2;
}

.input-div input{
    flex: 1;
    min-width: 150px;
    height: clamp(45px, 2vw, 65px);
    border: 2px solid hsla(14, 85%, 57%, 1);
    border-radius: 5px;
    color:  hsla(14, 85%, 37%, 1);
}

.naivas-div{
    width: clamp(230px, 3vw, 240px);
    margin-right: auto;
    align-self: stretch;
    background-color: hsla(14, 85%, 57%, 1);
}

.cart-div{
     width: clamp(70px, 3vw, 150px);
     position: relative;
     margin-right: 20px;
}

.search-icon{
    width: 30px;
    height: 35px;
}

.naivas-icon{
    width: 17vw;
    height: 70px;

}

.cart-icon{
    width: 50px;
    height: 50px;
    background: none;
}
.input-div{
    display: flex;
    align-items: center;
    max-width: 700px;
     flex: 1;
     margin: 0 20px;
}
.header-container button{
    border: 2px solid hsla(14, 85%, 57%, 1);
}
.cart-button{
    border-radius: 10px;
}
.search-button{
    margin-left: -2px;
    border-radius: 5px;
}
.cart-count{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: hsla(14, 85%, 57%, 1);
    padding: 1px 3px;
    border-radius: 50%;
    border: 2px solid hsl(120, 100%, 15%);
    color: white;
    font-size: 1.1rem;
}

.orders a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.orders span{
    font-weight: bold;
}
.orders button{
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 5px;
    transition: border-color 0.3s ease;
}
.orders button:hover{
    border-color:hsla(14, 85%, 57%, 1);
}
.orders{
    max-width: 130px;
    margin: 0 20px;
}
.others{
    margin-left: auto;
    display: flex;
    align-items: center;
}
input::placeholder{
    color: hsl(120, 100%, 15%);
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
}
.cart-orders-section{
    display: flex;
    background-color: white;
    border-radius: 10px;
    max-height: 50vh;
    padding: 15px;
}
.cart-image-container{
    height: 100%;
    width: 200px;
}
.cart-image-container img{
    width: 100%;
    margin:0 10px;
}
.cart-container-div{
    display: flex;
    gap: 10px;
}
.section-1{
    
    flex: 4;
}

.section-2{
    flex: 1;
}
.total-container{
    height: 300px;
    color: white;
    width: 100%;
}
.total-container button{
    background-color: hsla(14, 85%, 57%, 1);
    color: white;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: 1.1em;
    width: 75%;
    margin: 25px 0 0 32px;
    cursor: pointer;
}
.total-container p, .total-container h1{
    margin-bottom: 20px;

}
.total-container span{
    margin-right: 5px;
    margin-left: auto;
}
.total-container h1{
    margin-top: 15px;
    color: hsla(14, 85%, 57%, 1);
}
.div2, .div3{
    flex: 1;
    margin-left: 20px;
}

.div3 input{
    margin: 10px;
    
}
.div3 p, .div3 label,.div2 p, .div2 h1{
   font-family: Arial, Helvetica, sans-serif;
font-size: 1.1rem;
margin-top: 10px;
color: hsla(0, 0%, 0%, 0.8);

}

.div2 button{
    background-color: transparent;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(240, 100%, 60%);
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
    margin-top: 15px;
    transition: color .3s ease;
}
.div2 button:hover{
    color: hsla(14, 85%, 57%, 1);
}