.orders2{
    position: relative;
    top: 83px;
    background-color: hsl(120, 100%, 15%);
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
}
.ordersContainer{
    margin: 5px;
}

.ordersContainer2{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    margin: 10px 0;
    padding: 10px;
}
.ordersContainer3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hsla(14, 85%, 57%, 1);
    margin: 0 0 10px 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.ordersContainer3_1{
   margin: 10px;
   font-weight: bold;
   font-size: 1.1rem;
   color: white;
}
.ordersContainer4{
    display: grid;
    grid-template-columns: repeat(6, 200px);
}

.divImg img{
    width: 80px;
}
.ordersContainer4_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid hsl(120, 100%, 15%);
    padding: 5px;
    margin: 2px;
    border-radius: 7px;
}

@media(max-width: 600px){
    .orders2{
        top: 135px;
    }
    .ordersContainer4{
    grid-template-columns: repeat(2, 155px);
}
}